<footer>
  <div class="by"></div>

  <img src="assets/img/braziljs.png" width="100" height="34" alt="BrazilJS">

</footer>
<script type="application/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
