<header>
  <object data="assets/img/weekly_100.svg" type="image/svg+xml">
    <img src="assets/img/weekly_100.png" alt="BrazilJS Weekly"/>
  </object>

  <div class="call">
    <h1>Infográfico de comemoração das <strong>100</strong> Weeklies enviadas pela BrazilJS Foundation</h1>
    <h2>Reunimos aqui algumas informações sobre todas as weeklys já enviadas. Divirtam-se.</h2>
    <p>Esse infográfico é open source e pode ser encontrado no <a href="https://github.com/jugoncalves/cem">github</a>, e abusa de SVG, React e ES6. Se você achou algum <em>bug</em>, abra uma <a href="https://github.com/jugoncalves/cem/issues">issue</a> ou faça um <em>Pull Request</em>.</p>
  </div>

</header>
