<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="assets/img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="assets/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="assets/img/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="assets/img/android-chrome-192x192.png" sizes="192x192">
  <meta name="msapplication-square70x70logo" content="assets/img/smalltile.png" />
  <meta name="msapplication-square150x150logo" content="assets/img/mediumtile.png" />
  <meta name="msapplication-wide310x150logo" content="assets/img/widetile.png" />
  <meta name="msapplication-square310x310logo" content="assets/img/largetile.png" />

  <!-- Facebook Meta Tags -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:image" content="{{ "/assets/img/share-img.png" | prepend: site.baseurl }}">
  <meta property="og:description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
