@import "kouto-swiss"
@import "jeet"
normalize()
@import 'colors'
@import 'chartist'
@import 'heart'
@import 'fonts'

body
  font-family 'Roboto Condensed'
  font-size 16px
  line-height 1.2
  color #444
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+") center fixed
  width 90%
  margin 0 auto

a
  color w100-dpurple

header, footer
  column(1/1)

header
  text-align right

  object
    float left
    +above(960px)
      max-width 600px

  h1
    text-align right
    line-height 1.1
    font-size em(36px)
    padding-top 1em

  h2
    font-size em(22px)

  .call
    span(2/5)
    box-sizing border-box
    float right
    +above(1400px)
      span(2/6)
      float right
    +below(1188px)
      span(2/7)
      float right
    +below(960px)
      span(1)

  h1
    +below(960px)
      width 100%
      padding 0 0 1em

  h2, p
    +below(960px)
      width 100%
      margin-bottom 0

  strong
    font-family 'Source Code Pro'
    color w100-green
    font-size em(36px)

footer
  text-align center
  margin 100px 0 0

  img
    padding 20px 0 50px

section
  margin-top 1em
  column(1/1)

.w100-graphic
  width 100%
  overflow hidden

.w100-block
  span(1/2)
  min-height 225px
  +below(960px)
    span(1/1)

.w100-hero
  span(1/1)

.w100-number, .w100-date
  color white
  text-shadow 5px 5px 0px w100-dpurple, 10px 10px 0px w100-purple, 15px 15px 0px lighten(w100-purple, 20)
  text-align center

.w100-number
  font-size em(124px)

.w100-date
  font-size em(124px)
  +below(480px)
    font-size em(80px)

.w100-caption
  text-transform uppercase
  text-shadow 1px 1px 0px white, 2px 2px 0px silver
  text-align center

  font-size em(22px)

.w100-be-white
  svg
    background-color white
